body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  background-color: #ffffff;
  margin: 40px auto;
  max-width: 900px;
}


h1 {
  font-size: 28px;
  font-weight: bold;
  color: #3366cc;
}


.role, p b {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

p {
  text-align: justify;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #3366cc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-top: 30px;
}
h3 {
  color: #2a5db0;       
  font-size: 1.2em;     
  margin-top: 20px;     
  margin-bottom: 10px;  
  font-weight: bold;   
  padding-bottom: 4px;
}

/* 链接 */
a {
  color: #3366cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* 布局 */
header.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.right img {
  max-width: 300px;
  border-radius: 4px;
}

.left {
  flex: 2;
}


ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}


footer {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
  text-align: center;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}



html, body {
  background-color: #ffffff !important;
}

